{% extends "base.html" %}
{% block content %}
<h2>Inventario de Zapatos</h2>

<a href="{% url 'agregar_zapato' %}">Agregar nuevo zapato</a>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Talla</th>
            <th>Color</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for zapato in zapatos %}
        <tr>
            <td>{{ zapato.nombre }}</td>
            <td>{{ zapato.talla }}</td>
            <td>{{ zapato.color }}</td>
            <td>{{ zapato.cantidad }}</td>
            <td>${{ zapato.precio }}</td>
            <td>
                <a href="{% url 'actualizar_zapato' zapato.pk %}">Editar</a> |
                <a href="{% url 'eliminar_zapato' zapato.pk %}" onclick="return confirm('¿Estás seguro de eliminar este zapato?');">Eliminar</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
