<!-- templates/sales/crear_venta.html -->

{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Registrar Venta</h2>

{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}


<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    {{ formset.management_form }}
    <table>
        {% for form in formset %}
        <tr>
            <td>{{ form.zapato.label_tag }} {{ form.zapato }}</td>
            <td>{{ form.cantidad.label_tag }} {{ form.cantidad }}</td>
            <td>{% if formset.can_delete %}{{ form.DELETE }} Eliminar{% endif %}</td>
        </tr>
        {% endfor %}
    </table>

    <button type="submit">Guardar Venta</button>
</form>

{% endblock %}
